        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
            color: #333c43;
            list-style-type: none;
            text-decoration: none;
        }
        
        body {
            background-color: #f2f4ff;
        }
        
        button {
            background-color: #f85018;
            color: #fff;
            border-radius: 5px;
            border: none;
            outline: none;
            padding: 5px 10px;
            width: 200px;
            height: 50px;
            font-size: 20px;
            margin: 0 10px;
        }
        
        input {
            width: 200px;
            height: 50px;
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 5px;
            outline: none;
            border: black 1px solid;
        }
        
        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
        }
        
        h1 {
            font-size: 45px;
            font-weight: 400;
            line-height: 60px;
        }
        
        h2 {
            font-size: 40px;
            line-height: 55px;
        }
        
        h3 {
            font-size: 24px;
            line-height: 30px;
            font-weight: bolder;
        }
        
        .container-fluid {
            background-color: #314f6b;
            width: 100%;
            color: #fff;
        }
        
        .heighlight {
            color: #f85018;
            text-decoration: none;
        }
        
        .size {
            font-size: 14px;
        }
        
        .bold {
            font-weight: bolder;
        }
        
        a {
            font-weight: 600;
        }
        /* NAVIGATION BAR START */
        
        .navbar {
            position: fixed;
            width: 100%;
            z-index: 2;
            padding: 15px 0;
            background-color: #314f6b;
            transition: all 0.3s ease;
            height: 80px;
        }
        
        .navbar.sticky {
            background: #314f6b;
            padding: 10px 0;
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
            margin-bottom: 100px;
        }
        
        .navbar .menu-list {
            display: inline-flex;
        }
        
        .menu-list li {
            list-style: none;
        }
        
        .menu-list li a {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            margin-left: 25px;
            text-decoration: none;
            transition: all 0.3s ease;
        }
        
        .login {
            border: #f85018 1px solid;
            padding: 10px 20px;
            border-radius: 5px;
        }
        
        .sign-up {
            background-color: #f85018;
            padding: 10px 20px;
            border-radius: 5px;
        }
        
        .menu-list li a:hover {
            color: #f85018;
            transition: 0.5s;
        }
        
        .sign-up:hover {
            color: #fff !important;
        }
        
        .banner {
            background: url("banner.png") no-repeat;
            height: 80px;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        
        .icon {
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            display: none;
        }
        
        .menu-btn {
            margin-left: 100px;
        }
        
        .menu-list .cancel-btn {
            position: absolute;
            right: 30px;
            top: 20px;
        }
        
        @media (max-width: 1230px) {
            .content {
                padding: 0 60px;
            }
        }
        
        @media (max-width: 1100px) {
            .content {
                padding: 0 40px;
            }
        }
        
        @media (max-width: 900px) {
            .content {
                padding: 0 30px;
            }
        }
        
        @media (max-width: 868px) {
            body.disabled {
                overflow: hidden;
            }
            .icon {
                display: block;
            }
            .icon.hide {
                display: none;
            }
            .navbar .menu-list {
                position: fixed;
                height: 100vh;
                width: 100%;
                max-width: 400px;
                left: -100%;
                top: 0px;
                display: block;
                padding: 30px 0;
                text-align: center;
                background: #314f6b;
                transition: all 0.3s ease;
            }
            .navbar.show .menu-list {
                left: 0%;
            }
            .navbar .menu-list li {
                margin-top: 45px;
            }
            .navbar .menu-list li a {
                font-size: 23px;
                margin-left: -100%;
                transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            .navbar.show .menu-list li a {
                margin-left: 0px;
            }
        }
        
        @media (max-width: 380px) {
            .navbar .logo a {
                font-size: 27px;
            }
        }
        /* NAVIGATION BAR END */
        /**********SECTOIN-1 START**************/
        
        .section-1 {
            margin-top: 50px;
        }
        
        .section-1 p {
            margin: 20px 0;
        }
        
        .section1-video {
            margin-top: 50px;
        }
        
        @media (max-width: 920px) {
            .section-1 {
                display: block;
                margin: 5px auto;
                text-align: center;
            }
            .section-1 img {
                width: 200px;
            }
            .section-1 input {
                display: none;
            }
            .section-1 button {
                margin: 10px auto;
                width: 100%;
            }
            .section1-video {
                margin: 0px
            }
            .section-1 p {
                margin: 5px auto;
            }
        }
        /**********SECTOIN-1 END**************/
        /**********SECTOIN-2 START**************/
        
        .section-2 {
            background-color: #314f6b;
        }
        
        .test {
            padding: 0px !important;
            box-sizing: border-box;
        }
        
        .section-2 h3 {
            margin-left: 15px;
        }
        
        .fa-check {
            padding-right: 10px;
            color: white;
        }
        
        .checklist p {
            color: #fff;
            font-size: 15px;
        }
        
        @media (max-width:920) {
            .list-col {
                width: 100%;
            }
        }
        /**********SECTOIN-2 END**************/
        /**********SECTOIN-3 START**************/
        
        .section-3 {
            margin-top: 30px;
            text-align: center;
        }
        /**********SECTOIN-3 END**************/
        /**********SECTOIN-4 START**************/
        
        .section-4 {
            text-align: left;
        }
        
        a:hover,
        a:focus {
            text-decoration: none;
            outline: none;
        }
        
        .tab .nav-tabs {
            border: none;
        }
        
        .tab .nav-tabs li a {
            font-size: 16px;
            font-weight: 500;
            padding: 8px 25px 10px;
            margin: 0 10px 0 0;
            border: none;
            border-top: 3px solid #f85018;
            border-radius: 0;
            overflow: hidden;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease 0s;
        }
        
        .panel-default {
            background-color: #f2f4ff;
        }
        
        .tab-list {
            width: max-content;
            margin: 0px auto;
        }
        
        .tab-list li {
            margin: 0px !important;
        }
        
        .tab .nav-tabs li.active a,
        .tab .nav-tabs li a:hover,
        .tab .nav-tabs li.active a:hover {
            color: #fff;
            background: transparent;
            border: none;
            border-top: 3px solid #f85018;
        }
        
        .tab .nav-tabs li a:before,
        .tab .nav-tabs li a:after {
            content: "";
            background-color: #f85018;
            width: 50%;
            height: 100%;
            opacity: 0;
            transform: perspective(300px) rotateX(-100deg);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.4s ease 0s;
        }
        
        .tab .nav-tabs li a:after {
            transform: perspective(300px) rotateX(100deg);
            left: auto;
            right: 0;
            transition: all 0.4s ease 0.1s;
        }
        
        .tab .nav-tabs li.active a:before,
        .tab .nav-tabs li a:hover:before,
        .tab .nav-tabs li.active a:after,
        .tab .nav-tabs li a:hover:after {
            opacity: 1;
            transform: perspective(300px) rotateX(0);
        }
        
        .tab .tab-content {
            color: #333c43;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 25px;
            padding: 20px;
            border-bottom: 4px solid #f85018;
            position: relative;
        }
        
        @media only screen and (max-width: 920px) {
            .tab .nav-tabs li {
                width: 100%;
                text-align: center;
            }
            .tab .nav-tabs li a {
                margin: 0 0 10px;
            }
        }
        
        .panel-heading ul {
            background-color: #f85018;
            color: #fff;
            border-radius: 10px;
        }
        
        .panel-heading ul li {
            margin: 0 auto;
            padding: 10px;
            font-size: 16px;
            font-weight: 500;
        }
        
        .panel.with-nav-tabs .nav-tabs {
            border-bottom: none;
        }
        
        .panel.with-nav-tabs .nav-justified {
            margin-bottom: -1px;
        }
        
        .panel {
            background-color: #f2f4ff;
            border: none;
            margin: 0px auto;
            box-shadow: none;
        }
        
        .panel-items {
            display: inline-flex;
        }
        
        .items-content {
            width: 45%;
        }
        
        .with-nav-tabs.panel-default .nav-tabs>li>a,
        .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
        .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
            color: #fff;
        }
        
        .with-nav-tabs.panel-default .nav-tabs>.open>a,
        .with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
        .with-nav-tabs.panel-default .nav-tabs>.open>a:focus,
        .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
        .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
            color: #333c43;
            background-color: #fff;
            border-radius: 10px;
        }
        
        .with-nav-tabs.panel-default .nav-tabs>li.active>a,
        .with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
        .with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
            color: #333c43;
            background-color: #fff;
            border-radius: 10px;
        }
        /**************Accordion Panel*******************/
        
        #accordion .panel {
            border: none;
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 10px;
            position: relative;
            width: 100%;
        }
        
        #accordion .panel-heading {
            padding: 0;
            position: relative;
        }
        
        #accordion .panel-heading:before {
            content: "";
            width: 40px;
            height: 100%;
            background: #f85018;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        
        #accordion .panel-title a {
            display: block;
            padding: 10px 30px 10px 60px;
            background: #314f6b;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            overflow: hidden;
            position: relative;
            font-family: 'Open Sans', sans-serif;
        }
        
        #accordion .panel-title a:before,
        #accordion .panel-title a.collapsed:before,
        #accordion .panel-title a:after,
        #accordion .panel-title a.collapsed:after {
            content: "\f068";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 16px;
            color: #fff;
            position: absolute;
            top: 13px;
            left: 13px;
            z-index: 1;
            transition: all 0.3s ease 0s;
        }
        
        #accordion .panel-title a:after,
        #accordion .panel-title a.collapsed:after {
            content: "\f067";
            transform: translateY(50px);
        }
        
        #accordion .panel-title a.collapsed:before {
            transform: translateY(-50px);
        }
        
        #accordion .panel-title a.collapsed:after {
            transform: translateY(0);
        }
        
        #accordion .panel-body {
            padding: 10px 30px 10px 60px;
            background: #f2f4ff;
            border-top: none;
            font-size: 15px;
            color: #333c43;
            position: relative;
            font-weight: 700;
        }
        
        #accordion .panel-body:before {
            content: "";
            display: block;
            width: 40px;
            height: 100%;
            background: rgba(0, 0, 0, 0.05);
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .panel-accordion {
            display: none;
        }
        /**************Accordion Panel*******************/
        
        @media (max-width: 780px) {
            .panel-accordion {
                display: block;
            }
            .tab-panel {
                display: none;
            }
            .footer-items {
                display: none;
            }
        }
        /**********SECTOIN-4 END**************/
        /**********SECTOION-5 START**************/
        
        .section-5 {
            background-color: #314f6b;
            padding: 20px 0;
        }
        
        .section-5 h2 {
            color: #fff;
            text-align: center;
        }
        
        .section-5 p {
            text-align: center;
            color: #fff;
            font-weight: 300;
        }
        
        .brand-logos2 {
            margin: 20px auto;
        }
        
        .capterra,
        .crowd,
        .software {
            margin: 0px 10px;
        }
        
        .crowd {
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
            align-items: center;
        }
        
        @media (max-width:1200px) {
            .crowd {
                border: none;
            }
        }
        
        @media (max-width: 920px) {
            .capterra,
            .crowd,
            .software {
                margin: 20px auto;
            }
        }
        /**********SECTOIN-4 END**************/
        /**********SECTOIN-6 START**************/
        
        .section-6 h2 {
            margin-top: 20px;
            text-align: center;
        }
        
        .section-6 p {
            text-align: center;
            margin: 20px auto;
        }
        
        .info-box {
            background-color: #f2f4ff;
            box-shadow: 3px 3px 20px #333c43;
            width: 100%;
            height: auto;
            padding: 20px 0px;
        }
        
        .box {
            align-items: center;
            margin: 15px auto;
            text-align: center;
            background-color: #fff;
            padding: 5px 10px;
            box-shadow: 1px 2px 5px #333c43;
            width: 350px;
            height: 550px;
        }
        
        .box a {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
        }
        
        .box p {
            font-size: 16px;
        }
        
        .btn button {
            margin: 20px auto;
        }
        
        @media (max-width: 920px) {
            .btn button {
                margin: 20px 0px;
                width: 100%;
            }
        }
        /**********SECTOIN-6 END**************/
        /**********SECTOIN-7 START**************/
        
        .section-7 {
            margin-top: 50px;
        }
        
        .section-7 p {
            margin: 20px 0;
        }
        
        .section-7 h3 {
            margin-top: 100px;
        }
        
        .section-7 button {
            margin-left: -2px;
        }
        
        @media (max-width: 920px) {
            .section-7 {
                display: block;
                margin: 10px auto;
                text-align: center;
            }
            .section-7 img {
                width: 200px;
                margin: 20px auto;
            }
            .section-7 button {
                margin: 10px auto;
                width: 100%;
            }
            .section-7 p {
                margin: 5px auto;
            }
            .section-7 h3 {
                margin-top: 10px;
            }
        }
        /**********SECTOIN-7 END**************/
        /**********SECTOIN-8 START**************/
        
        .octupi-number {
            margin: 50px auto;
            padding: 50px 0;
        }
        
        .section-8 h1 {
            font-size: 60px;
            font-weight: bolder;
        }
        
        .section-8 h2 {
            color: #fff;
            text-align: center;
            font-weight: bolder;
        }
        
        .section-8 p {
            color: #fff;
            text-align: center;
        }
        /**********SECTOIN-8 END**************/
        /**********SECTOIN-9 START**************/
        
        .desktop {
            width: 350px;
            margin: 0px auto;
        }
        
        @media (max-width: 920px) {
            .section-9 {
                display: block;
                margin: 10px auto;
            }
            .section-9 button {
                margin: 10px auto;
                width: 100%;
            }
            .section-9 p {
                margin: 5px auto;
            }
            .section-9 h3 {
                margin-top: 10px;
            }
            .desktop {
                width: 100%;
            }
        }
        /**********SECTOIN-9 END**************/
        /**********SECTOIN-10 START**************/
        
        .section-10 {
            margin: 50px auto;
            padding: 20px 0px;
        }
        
        .section-10 input {
            width: 300px;
            margin: 20px auto;
        }
        
        .section-10 p {
            margin: 10px auto;
        }
        
        @media (max-width:920) {
            .section-10 {
                margin: 20px auto;
            }
            .section-10 input {
                display: none;
            }
            .section-10 button {
                width: 100%;
                margin-top: 50px;
            }
        }
        /**********SECTOIN-10 END**************/
        
        .footer-list ul li a {
            color: #333c43;
        }
        
        .footer-list h3 {
            margin-left: 15px;
            font-size: 18px;
        }
        
        .socail-icons {
            margin-top: 50px;
        }
        
        .socail-icons ul li {
            display: inline-flex;
            font-size: 40px;
            padding: 0px 10px;
        }
        
        .top1 {
            background-image: url(../images/office-staff.jpeg) no-repeat !important;
            background-size: cover;
            align-items: center;
            text-align: center;
            padding: 50px 25px;
        }
        
        .feature-section-1 {
            align-items: center;
            text-align: center;
        }
        
        .feature-section-2 {
            margin-top: 50px;
        }
        
        .feature-section-1 button {
            margin: 10px auto;
        }
        
        @media (max-width: 920px) {
            .feature-section-2 {
                display: block;
                margin-top: 20px;
            }
        }
        
        @media (max-width: 480px) {
            .feature-section-1 input {
                width: 100%;
            }
            .feature-section-1 button {
                margin: 10px auto;
                width: 100%;
            }
        }
        
        .solution {
            margin-top: 50px;
            padding-bottom: 50px;
            background-color: #ecedee;
        }
        
        .feature-section-3 {
            margin-top: 20px auto;
        }
        
        .octupi-solution {
            margin-bottom: 30px;
        }
        
        .solution-box {
            background-color: #fff;
            box-shadow: 1px 1px 5px #e3e3e3;
            border-radius: 5px;
            padding: 5px;
            margin: 15px auto;
            display: inline-flex;
            width: 350px;
            height: 80px;
            align-items: center;
        }
        
        .react-list a {
            padding-top: 50px;
            background-color: #333c43;
        }
        
        .solution-box a {
            font-size: 18px;
            font-weight: 600;
            color: #314f6b;
            padding-top: 10px;
        }
        
        @media (max-width:920px) {
            .solution-box {
                width: 100%;
            }
        }
        
        .feature-item-left-bg {
            padding: 50px 0px;
            background-color: #f2f4ff;
        }
        
        .feature-item-left button {
            width: max-content;
            margin: 0px;
        }
        
        @media (max-width:920px) {
            .feature-item-left button {
                font-size: 18px;
            }
            .feature-item-left img {
                width: 50%;
                margin-top: 40%;
            }
            .feature-item-left-bg {
                padding: 15px 0px;
            }
        }
        
        @media (max-width:480px) {
            .feature-item-left img {
                width: 200px;
                margin-top: 20px;
            }
            .feature-item-left p {
                text-align: center;
            }
            .feature-item-left {
                display: block;
            }
            .feature-item-left button {
                width: 100%;
            }
            .feature-item-left h2,
            button {
                text-align: center;
            }
        }
        
        .feature-item-right-bg {
            padding: 50px 0px;
            background-color: #e2e3e4;
        }
        
        .feature-item-right button {
            width: max-content;
            margin: 0px;
        }
        
        @media (max-width:920px) {
            .feature-item-right button {
                font-size: 18px;
            }
            .feature-item-right img {
                width: 50%;
                margin-top: 40%;
            }
            .feature-item-right-bg {
                padding: 15px 0px;
            }
        }
        
        @media (max-width:480px) {
            .feature-item-right img {
                width: 200px;
                margin-top: 20px;
            }
            .feature-item-right p {
                text-align: center;
            }
            .feature-item-right {
                display: block;
            }
            .feature-item-right button {
                width: 100%;
            }
            .feature-item-right h2,
            button {
                text-align: center;
            }
        }
        
        .top23 {
            margin: 50px auto;
            align-items: center;
            text-align: center;
            padding: 50px 25px;
        }
        
        .feature-section-23 {
            align-items: center;
            text-align: center;
        }
        
        .feature-section-23 button {
            margin: 10px auto;
        }
        
        @media (max-width: 920px) {
            .feature-section-23 {
                display: block;
                margin-top: 20px;
            }
            .feature-section-23 img {
                width: 300px;
            }
        }
        
        @media (max-width: 480px) {
            .feature-section-23 input {
                width: 100%;
            }
            .feature-section-23 button {
                margin: 10px auto;
                width: 100%;
            }
        }
        
        .about-top-1 {
            background-image: url(../images/office-staff.jpeg);
            background-size: cover;
            height: 300px;
            align-items: center;
            text-align: center;
        }
        
        .about-section-1 h1 {
            font-size: 60px;
            font-weight: bolder;
            margin-top: 100px;
        }
        
        .about-top-2 {
            margin-top: -50px;
            padding: 20px 50px;
            background-color: #f2f4ff;
            box-shadow: 1px 2px 5px rgb(206, 203, 203);
            border-radius: 20px;
        }
        
        .about-img-right img {
            width: 100%;
            height: auto;
            margin-top: 50px;
        }
        
        .about-img-left {
            display: none;
        }
        
        @media (max-width:920px) {
            .about-top-1 {
                height: auto;
                align-items: center;
                text-align: center;
            }
            .about-section-1 h1 {
                font-size: 40px;
                font-weight: bolder;
            }
            .about-top-2 {
                margin-top: 0px;
                padding: 10px 15px;
                background-color: #fff;
                box-shadow: 1px 2px 5px rgb(206, 203, 203);
                border-radius: 5px;
            }
            .about-section-2 img {
                width: 100%;
                margin-top: 20px;
            }
            .about-img-right {
                display: none;
            }
            .about-img-left {
                display: block;
            }
        }
        
        @media (max-width:480px) {
            .about-section-2 h2 {
                text-align: center;
            }
            .about-section-2 p {
                text-align: center;
            }
            .about-section-2 img {
                width: 100%;
                margin-top: 20px;
            }
        }
        
        .about-section-3 {
            margin: 50px auto;
        }
        
        .about-item-right {
            margin-bottom: 50px;
        }
        
        .about-img-2 {
            display: none;
        }
        
        .m-bottom {
            margin-top: 30px;
        }
        
        @media (max-width:920px) {
            .about-item-right img {
                width: 100%;
                margin-top: 20%;
            }
            .about-item-right-bg {
                padding: 15px 0px;
            }
            .m-bottom {
                margin-top: 30px;
            }
        }
        
        @media (max-width:480px) {
            .about-item-right img {
                width: 200px;
                margin-top: 20px;
            }
            .about-item-right p {
                text-align: center;
                margin: 0px;
            }
            .about-item-right {
                display: block;
                margin-bottom: 20px;
            }
            .about-item-right h3 {
                text-align: center;
                margin: 0px;
            }
            .m-bottom {
                margin-top: 0px;
            }
        }
        
        .about-item-left {
            margin-bottom: 50px;
        }
        
        @media (max-width:920px) {
            .about-item-left img {
                width: 100%;
                margin-top: 20%;
            }
            .about-item-left-bg {
                padding: 15px 0px;
            }
        }
        
        @media (max-width:480px) {
            .about-item-left img {
                width: 200px;
                margin-top: 10px;
            }
            .about-item-left p {
                text-align: center;
                margin: 0px;
            }
            .about-item-left {
                display: block;
                margin-bottom: 20px;
            }
            .about-item-left h3 {
                text-align: center;
                margin: 0px;
            }
            .about-img-2 {
                display: block;
                margin: 0px auto;
            }
            .about-img-1 {
                display: none;
            }
        }